<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="uE">
      <h2 data-cy="uEDetailsHeading"><span jhiTranslate="gnoteApplicationApp.uE.detail.title">UE</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ uE.id }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteApplicationApp.uE.nomUE">Nom UE</span></dt>
        <dd>
          <span>{{ uE.nomUE }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ue', uE.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
