<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eC">
      <h2 data-cy="eCDetailsHeading"><span jhiTranslate="gnoteApplicationApp.eC.detail.title">EC</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eC.id }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteApplicationApp.eC.nomEC">Nom EC</span></dt>
        <dd>
          <span>{{ eC.nomEC }}</span>
        </dd>
        <dt><span jhiTranslate="gnoteApplicationApp.eC.coeff">Coeff</span></dt>
        <dd>
          <span>{{ eC.coeff }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ec', eC.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
